@tailwind base;
@tailwind components;
@tailwind utilities;




@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  input:focus ~ label,
  input:not(:placeholder-shown) ~ label {
    @apply -translate-y-2 text-xsmall-regular; 
  }

  input:focus ~ label {
    @apply left-0;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid #212121;
    -webkit-text-fill-color: #212121;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
}

@layer components {
  .bebas{
    font-family: 'BebasNeue';
  }
  .bebasLight{
    font-family: 'BebasNeue Light';

  }
  .bebeasBook{
    font-family: 'BebasNeue Book'
  }

  .bebasBold{
    font-family:'BebasNeue Bold'
  }
  .futuraMedium{
    font-family:'Futura-pt'
  }
  .futuraLigth{
    font-family:'Futura Light'
  }
  .centerlayer{
    left: 50%;
     top: 50%;
     transform: translateX(-50%) translateY(-50%);
   }


  .content-container {
    @apply max-w-[1440px] w-full mx-auto px-8
  }

  .contrast-btn {
    @apply px-4 py-2 border border-black rounded-full hover:bg-black hover:text-white transition-colors duration-200 ease-in;
  }

  .text-xsmall-regular {
    @apply text-[10px] leading-4 font-normal;
  }

  .text-small-regular {
    @apply text-xs leading-5 font-normal;
  }

  .text-small-semi {
    @apply text-xs leading-5 font-semibold;
  }

  .text-base-regular {
    @apply text-sm leading-6 font-normal;
  }

  .text-base-semi {
    @apply text-sm leading-6 font-semibold;
  }

  .text-large-regular {
    @apply text-base leading-6 font-normal;
  }

  .text-large-semi {
    @apply text-base leading-6 font-semibold;
  }

  .text-xl-regular {
    @apply text-2xl leading-[36px] font-normal;
  }

  .text-xl-semi {
    @apply text-2xl leading-[36px] font-semibold;
  }

  .text-2xl-regular {
    @apply text-[30px] leading-[48px] font-normal;
  }

  .text-2xl-semi {
    @apply text-[30px] leading-[48px] font-semibold;
  }

  .text-3xl-regular {
    @apply text-[36px] leading-[48px] font-normal;
  }

  .text-3xl-semi {
    @apply text-[36px] leading-[48px] font-semibold;
  }
}



@font-face {
  font-family: 'BebasNeue Light';
  src: url('../public/asset/BebasNue/BebasNeue\ Light.otf');


  font-weight: 400!important;
  }


@font-face {
  font-family: 'BebasNeue';
  src: url('../public/asset/BebasNue/BebasNeue\ Regular.otf');


  font-weight: 400!important;
  }



  
@font-face {
  font-family: 'BebasNeue Book';
  src: url('../public/asset/BebasNue/BebasNeue\ Book.otf');
  font-weight: 600;
  }


          
@font-face {
  font-family: 'BebasNeue Bold';
  src: url('../public/asset/BebasNue/BebasNeue\ Bold.otf');
  font-weight: 600;
  }


  @font-face {
    font-family: 'Futura-pt';
    src: url('../public/asset/futura-pt/FuturaCyrillicMedium.ttf');
    font-weight: 600!important;
    line-height:26px!important
    }

    @font-face {
      font-family: 'Futura Light';
      src: url('../public/asset/futura-pt/FuturaCyrillicLight.ttf');
      font-weight: 600!important;
      line-height:26px!important
      }


      .parent {
        display: grid;
        grid-template-columns: 4rem 1fr;
        grid-template-rows: repeat(10, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        
        .div1 { grid-area: 1 / 1 / 2 / 2; }
        .div2 { grid-area: 2 / 1 / 3 / 2; }
        .div3 { grid-area: 3 / 1 / 4 / 2; }
        .div4 { grid-area: 1 / 2 / 13 / 4; }

        .breadcrumbs > ul > li + *:before{
          height: 0.8rem!important;
          width: 0.38rem !important;
          border-top: 0!important;
          opacity: 1!important;
          --tw-rotate:15deg!important;
        }